.game_tank{
	width: 33%;
	height: 300px;
	display:inline-block;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.tank-bg{
	background: url(../games/Screenshot_1.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 250px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
.tank-name{
	width: 100%;
	height: 50px;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 32px;
	font-family: sans-serif;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.shax-bg{
	background: url(../games/tictac.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 250px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
.xax-bg{
	background: url(../img/Screenshot_2.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 250px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}