.navig{
	z-index: 130;
	/*position: fixed;*/
	/*position: relative;*/
	background: rgb(2,0,36);
	background: -webkit-linear-gradient(52deg, rgba(2,0,36,1) 0%, rgba(107,9,121,1) 0%, rgba(0,212,255,1) 100%);
	background: -o-linear-gradient(52deg, rgba(2,0,36,1) 0%, rgba(107,9,121,1) 0%, rgba(0,212,255,1) 100%);
	background: linear-gradient(142deg, rgba(2,0,36,1) 0%, rgba(107,9,121,1) 0%, rgba(0,212,255,1) 100%);
	width:100%;
	position: fixed !important;
	top: 0;
}
body{
background: rgb(255,255,255);
background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(242,239,239,1) 0%, rgba(238,238,238,1) 100%);
background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(242,239,239,1) 0%, rgba(238,238,238,1) 100%);
background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(242,239,239,1) 0%, rgba(238,238,238,1) 100%);
}
.nlink{
	color:white;
	display: inline-block;
	transition: .2s;
	/*position: absolute;*/
}
.navinp{
	position: relative;
	left:-130px;
}
.modal{
	z-index: 140;
}
.plink{
	/*margin-right: 80px;*/
	/*display: inline-block;*/
	/*position: absolute;*/
}
.myimage{
	/*position: absolute;*/
	/*display: block;*/
	/*left: 50%;*/
	/*right: 0;
	/*margin:auto;*/
	vertical-align: middle;
	margin-top: 4px;
	cursor: pointer;
}
.inos{
	position: relative;
	width: 50%;
}
.search_res{
	position: absolute;
	max-height:200px;
	/*overflow: scroll;*/
	/*overflow-x: auto;*/
	overflow-y: auto;
	opacity: 0;
	/*background: red;*/
	/*width:25%;*/
}
.srchbtn{
	position: absolute;
	right: 0px;
	top: 0;
}
.friend{
	/*background: red !important;*/
	transition: .3s !important;
}
.jnjich{
	font-size:12px !important;
	position: absolute;
	right: 130px;
	/*left: 40px;*/
	height:30px;
}
.notifications{
	cursor: pointer;
	transition: .2s;
}
.count{
	color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
	position: absolute;
	top: -7px;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px; 
	height: 20px;
	width: 20px;
	/*width: 10px;*/
	font-size: 8px !important;
}
.count:hover{
	cursor: pointer;
}
.notification{
	cursor: pointer;
}
.notification:hover .notifications{
	cursor: pointer;
	color: #0F56DB !important;
}
element.style {
    display: none;
}
.badge {
  position: absolute;
  top: -3px;
  right: -3px;
  /*left: -5px;*/
  padding: 5px 10px;
  border-radius: 50%;
  background-color: #dc3545;
  border-color: #dc3545;
  color: white;
  /*display: none;*/
  
}
.openme{
	position: absolute;
	width: 350%;
	top: 53px;
	left: -250%;
	max-height: 200px;
	background: #fff;
	overflow-y: auto;
	opacity: 1;
}
.frres{
	position: relative;
	height: auto;
}
.yndunum{
	position: absolute;
	right: 10px;
	font-size: 10px !important;
}
.yndunum1{
	/*position: absolute;*/
	right: 120px;
	/*font-size: 8px !important;*/
}
.notification1{
	cursor: pointer;
}
.notification1:hover .notifications1{
	cursor: pointer;
	color: #0F56DB !important;
}
element.style {
    display: none;
}
.badge1{
	display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}
.badge2{
	  position: absolute;
  top: -3px;
  right: -3px;
  /*left: -5px;*/
  /*padding: 5px 10px;*/
  /*border-radius: 50%;*/
  background-color: #dc3545;
  border-color: #dc3545;
  color: white;
}
.qanihat{
	transform: translateY(-50%) translateX(-50%);
	position: absolute;
	right: 52%;
	/*padding: 5px;*/
	min-width: 30px;
	height: 100%;
	/*border-radius: 50%;*/
 	background-color: #dc3545;
 	border-color: #dc3545;
 	color: white;
 	z-index: 10;
 	display:flex;
 	justify-content: center;
 	align-items: center;
 	top: 50%;

}
.hatik{
	margin: 0;
	padding: 0;
}
.openme1{
	position: absolute;
	width: 350%;
	top: 53px;
	left: -250%;
	max-height: 200px;
	background: #fff;
	overflow-y: auto;
	opacity: 1;
}
.my_friends1{
	width: 50px;
	height: 50px;
	position: relative !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
}
.button_status1{
	position: absolute;
	/*transform: translateY(-50%) translateX(-50%);*/
	right: 5px;
	/*top: 50%;*/
	/*font-size: 10px !important;*/
	height: 100%;
	top: 0;
}
.friendbg1{
	height: 100%;
	vertical-align: middle;
	position: absolute;
	right: 50px;
	top:0;
	background-size: cover !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
}
.teselairany{
	position: absolute;
	bottom: 5px;
	right: 5px;
}
.teselaimy{
	position: absolute;
	bottom: 5px;
	left: 5px;
}
.pspan{
	color: black
}