/*.optionbg{*/
	/*background-color: red;*/
	/*box-sizing: none;*/

	/*display: grid;*/
	/*align-items: center;*/
	/*justify-content: center;*/
	/*height: 400px;*/
	/*position: absolute;*/
	/*width: 72%;*/
	/*padding: 0;
	padding: 15px;
	transform: translate(-50%,-50%);
	left: 50%;
	top: 50%;
	background: rgb(252,70,107);
	background: -webkit-linear-gradient(left, rgba(252,70,107,1) 0%, rgba(63,94,251,1) 100%);
	background: -o-linear-gradient(left, rgba(252,70,107,1) 0%, rgba(63,94,251,1) 100%);
	background: linear-gradient(to right, rgba(252,70,107,1) 0%, rgba(63,94,251,1) 100%);*/
/*}*/
/*.glavni{
	background: rgb(252,70,107);
	background: -webkit-linear-gradient(left, rgba(252,70,107,1) 0%, rgba(63,94,251,1) 100%);
	background: -o-linear-gradient(left, rgba(252,70,107,1) 0%, rgba(63,94,251,1) 100%);
	background: linear-gradient(to right, rgba(252,70,107,1) 0%, rgba(63,94,251,1) 100%);
}*/
/*.chaange{
	background: rgb(131,58,180);
	background: -webkit-linear-gradient(left, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
	background: -o-linear-gradient(left, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
	background: linear-gradient(to right, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}*/
.usernews{
	/*display: inline-block;*/
	/*margin-top:40px;*/
	background: white;
	min-height: 378px;
	width: 80%;
	padding: 15px;
	border-radius:10px;
}
.sethere{

}