.userphotos{
	position: relative;
}
.usimg{
	z-index: 100;
	position: absolute;
	/*transform: translateX(-50%);*/
	bottom: -55px;
	left: 0;
	right: 0;
	margin:auto;
	width: 150px;
	height: 150px;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;

}
.userinfo{
	position: relative;
}
/*.username{*/
	/*display: inline-block;*/
	/*text-align: center;*/
	/*position: absolute;*/
	/*left: 0;*/
	/*top:0;*/
	/*bottom: 0;*/
	/*right: 0;*/
	/*margin:auto;*/
	/*left: 30%;*/

/*}*/
.alluserinfo{
	/*width: 100%;*/
	margin-top: 60px;
	/*margin:auto;*/
	position: relative;
	/*bottom: -100px;*/
	/*left: 0;*/
	/*right: 0;*/
	/*margin:auto;*/
}
.nameandsur{
	/*position: relative;*/
	/*display: block;*/
	/*transform: translateX(-100%);*/
	/*left:50%;*/
}
.username{
	text-align: center;
	/*cursor: pointer;*/
}
.usersback{
	position: relative;
}
.changebg{
	position: absolute;
	right: 10px;
	top: 10px;
}
.changeusername{
	width: 30px;
	font-size: 10px;
	position: absolute;
	right: 0;
	left: 190px;
	top: -10px;
	margin:auto;
	/*opacity: 0;*/
}
.changeimage{
	position: relative;
	width: 150px;
	height: 150px;
	/*display: inline-block;*/
}
.imgonachange{
	/*display: none;*/
	/*height: 0px;*/
	/*display: flex;*/
	/*justify-content: center;*/
	/*align-items: center;*/
	font-size: 32px;
	/*color: white !important;*/
	opacity: 0;
	background: rgb(2,0,36);
	background: -webkit-linear-gradient(52deg, rgba(2,0,36,1) 0%, rgba(107,9,121,1) 0%, rgba(0,212,255,1) 100%);
	background: -o-linear-gradient(52deg, rgba(2,0,36,1) 0%, rgba(107,9,121,1) 0%, rgba(0,212,255,1) 100%);
	background: linear-gradient(142deg, rgba(2,0,36,1) 0%, rgba(107,9,121,1) 0%, rgba(0,212,255,1) 100%);
	bottom: 0px;
	transition: .5s;
	outline: none;
	border: none;
	
}
.usimg:hover > .imgonachange{
	opacity: 1;
	cursor: pointer;
}
.profbg{
	width: 100%;
	height: 250px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-top:66px;
}
.imname{
	display: inline-block;
}
.userfriends{
	height: 150px;
	position: relative;
	top: -60px;
	padding-top: 60px;
	background: rgb(0,255,209);
	background: -webkit-linear-gradient(left, rgba(0,255,209,1) 9%, rgba(199,0,233,1) 78%);
	background: -o-linear-gradient(left, rgba(0,255,209,1) 9%, rgba(199,0,233,1) 78%);
	background: linear-gradient(to right, rgba(0,255,209,1) 9%, rgba(199,0,233,1) 78%);
}
.asd{
	position: absolute;
	left: 10%;
}
.sad{
	position: absolute;
	left: 25%;
}
.sssss{
	position: relative;
}
.sidebar-imagesi{
	/*margin-top:40px;*/
	/*background: white;*/
	min-height: 378px;
	/*width: 30%;*/
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto auto auto;
}
.sidebar-images{
	/*position: fixed;*/
	/*left: 0;*/
	position: relative;
	z-index: 20;
	vertical-align: top;
	margin-top:40px;
	background: white;
	min-height: 300px;
	width: 30%;
	display: inline-block;
}
.left-images{
	width: 94%;
	/*background: url(../image/default.png);*/
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
}
.sidebar-friends{
	position: -webkit-sticky;
	position: sticky;
	/*right: 0;*/
	vertical-align: top;
	margin-top:40px;
	background: white;
	min-height: 300px;
	width: 30%;
	/*height: 800px;*/
	display: inline-block;
}
.sidebar-friendsi{
	min-height: 378px;
	/*width: 30%;*/
	width: 90%;
	display: grid;
	grid-template-columns: 35% 35% 35%;
	grid-template-rows: 126px 126px 126px;
}
.usernews{
	display: inline-block;
	margin-top:40px;
	background: white;
	min-height: 910px;
	width: 67.5%;
	position: absolute;
	left: 31%;
}
.canyoulike{
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: auto auto auto;
	/*grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));*/
}
.knopkeq{
	background: #3f5efb;
	border: none !important;
	transition: .2s;
	outline: none !important;
}
.knopkeq:hover{
	background: #d1c2d1;
	color: white;
}
.unlike{
	background: #fc466b;
	color: white;
	outline: none !important;
	border: none !important;
}
.unlike:hover{
	background: #c3cdd4;
	border: none !important;
	transition: .2s;
	outline: none !important;
}
/*.knopkeq:active{
	background: #c700e9;
	outline: none !important;
}*/
.motik{
	position: absolute;
	width: 100%;
	height: 250px;
}
.leftmotik{
	width: 100%;
	height: 100%;
}
.left-friends{
	/*background: url(../image/default.png);*/
}
.lffr{
	width: 93%;
	height: 70%;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
}
.frannun{
	font-size: 14px !important;
}
.addclass{
	position:fixed;
	top:30px;
	min-height: 300px;
	width: 21%;
}
.addclassf{
	position:fixed;
	top: 32px;
	/*left: 0;*/
	width: 333px;
	/*transform: translateY(-50%);*/
	/*top:50%;*/
	min-height: 300px;
}
.changestyle{
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.dark{
	background: #292929;
}
.gradient{
	background: rgb(18,221,255);
	background: -webkit-linear-gradient(rgba(18,221,255,1) 0%, rgba(228,0,255,1) 60%, rgba(228,0,255,1) 100%);
	background: -o-linear-gradient(rgba(18,221,255,1) 0%, rgba(228,0,255,1) 60%, rgba(228,0,255,1) 100%);
	background: linear-gradient(rgba(18,221,255,1) 0%, rgba(228,0,255,1) 60%, rgba(228,0,255,1) 100%);
}
.white{
	background:white;
}
.colors{
	border:1px solid black;
}
.removemypost{
	display: inline-block;
	position: absolute;
	right: 13px;
	top: 40px;
	background:lightgray;
	width: 20%;
	cursor: pointer;
	display: none;
}
.removemypost:hover{
	background: gray;
}
.comentstext{
	width: 90%;
	margin-left: 10px;
	border-radius: 40px;
	display: inline-block;
	vertical-align: top;
	height: 38px;
}
.sendcom{
	position: absolute;
	right: 5%;
}
.pcomentstext{
	width: 100%;
	/*margin-left: 10px;*/
	border-radius: 40px;
	display: inline-block;
	vertical-align: top;
	height: 38px;
}
.psendcom{
	position: absolute;
	/*border:1px solid;*/
	border-radius: 40px;
	right: 0;
	top: 0;
}
@media screen and (max-width: 1200px){
	.addclassf{
		width: 279px;
	}
}
@media screen and (max-width: 990px){
	.addclassf{
		width: 207px;
	}
}
.chav:hover{
	cursor: pointer;
}
.mycoms{
	display: none;
}
.pjnjich{
	position: absolute;
	bottom: 10px;
	right: 168px;
}