body{ background-image:url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg");
 background-repeat:no-repeat;
  /*background-position:center;*/
   background-size:cover;
    padding:10px;
}
.regform{
	border-radius: 40px;
	width: 450px;
	/*height: 500px;*/
	background: white;
	position: absolute;
	transform: translateX(-50%)translateY(-50%);
	left: 50%;
	top: 50%;
}
.log{
	position: absolute;
	right: 24px;
	bottom: 24px;
}
.inps{
	height: 50px;
}
.loglog{
	height: 40px;
}
.reg{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	bottom: 10px;
}
.qyuby{
	position: relative;
	/*left: 25%;*/
	top: 50%;
}