*{
	margin:0;
	padding: 0;
}
body{
	background: #1C1C1C;
}
#game{
	position: relative;
	width: 100%;
	height: 100vh;
	background: url(../games/grass.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.startgame{
	position:absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin:auto;
	background-image: url(../games/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;	
	display: flex;
	justify-content: center;
	/*display: none;*/
	align-items: center;
}
.start{
	padding: 10px 30px;
	width: 200px;
	height: 50px;
	border: 2px solid #DDBE0A;
	background-image: url(../games/tanktxt.jpg);
	background-position: center;
	background-size: cover;
	border-radius: 12px;
	font-size: 19px;
	letter-spacing: 5px;
	color: white;
	cursor: pointer;
	outline: none;
}
#mytank{
	width: 80px;
	position:absolute;
	height: 80px;
	bottom:0;
	left: 45%;
}
.bullet{
	width: 25px;
	height: 40px;
	position:absolute;
	bottom: 60px;
}
.enemy{
	width: 70px;
	height: 70px;
	position:absolute;
}
		.info-btn{
			position: absolute;
			right: 50px;
			top: 10px;
			padding: 4px 13px 8px 13px;
			background: #3498db;
			color: #fff;
			border: none;
			cursor: pointer;
			font-size: 35px;
		}
		.info{
			position: absolute;
			width: 500px;
			background: #fff;
			border-radius: 10px;
			min-height: 200px;
			text-align: center;
			font-family: sans-serif;
			right: 0;
			left: 0;
			top: 30%;
			margin: auto;
			box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.75);
			display: none;
		}
		.info-header{
			padding-top: 25px;
			border-bottom: 1px solid #D8D9DA;
		}
		.info-footer{
			border-top: 1px solid #D8D9DA;
			padding-top: 25px;
			height: 50px;
		}
		.info-body{
			padding: 15px 0;
		}
		.close-info{
			border: none;
			background: none;
			color: #7f8c8d;
			cursor: pointer;
			font-size: 25px;
			position: absolute;
			right: 10px;
		}
		.close-info:hover{
			color: #353b48;
		}
	.gmp{
		width: 60px;
	}
	h1{
		display: inline-block;
	}
	.achok{
		display: inline-block;
		position:absolute;
		right: 50px;
		color: white
	}
	#game-over{
		display: grid;
		grid-gap: 5px;
		align-items: center;
		justify-content: center;
		position:relative;
		/*top: 60px;*/
		/*display: none;*/
		color: white;
		width: 100%;
		height: 100vh;
		background: black;
	}
	#game-over>h1, h2{
		font-size: 64px;
		position:relative;
		/*top: 60px;*/
		border-radius: 10px;
	}
	#game-over h2{
		font-size: 42px;
		/*margin-top: 10px;*/
	}
	#game-over button{
		/*margin-top: 10px;*/
		border-radius: 10px;
		font-size: 28px;
		outline: none;
		cursor: pointer;
	}
	#game-over button:active{
		background-image: url(../games/tanktxt.jpg);
		color: white
	}
	.start:active{
		background: white;
		color: black;
		border: 2px solid black;
	}
	#game-over>h1:hover, h2:hover{
		background-image: url(../games/tanktxt.jpg);
	}
	.nomusic{
		position:absolute;
		left: 0;
		top: 0;
		z-index: 10;
	}
