*{
	margin: 0;
	padding: 0;
}
body{
	background: #1C1C1C;
	color: white;
	text-align: center;

}
.d1{
	width: 200px;
	height: 200px;
	background: blue;
	position: relative;

}
#btn1{
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 15px;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}
.game{
	width: 100%;
	height: 80vh; /*vertical height*/
	position: relative;
	display: grid;
	justify-content: center;
	align-items: center;
	background-image: url(../img/thumb-1920-237113.jpg); 
	background-position: center;
	background-size: cover;
}
.start{
	letter-spacing: 7px;
	padding: 20px 30px;
	background: rgba(0,0,0,.7);
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 80px;
	width: 160px;
	outline: none;
	border-radius: 20px;
	font-family: cursive;
	font-size: 20px;
	z-index: 100;

}
.but{
	opacity: 0;
	/*display: none;*/
	letter-spacing: 7px;
	background: rgba(0,0,0,.7);
	color: #fff;
	height: 70px;
	width: 140px;
	outline: none;
	border-radius: 20px;
	font-family: cursive;
	font-size: 20px;
	transition: 1s
}
.Medium{
	text-align: center;
}
.none{
	height: 0;
	display: none;
}
.bgm{
	background-image: url(../img/Medium.jpg);
	background-size: cover;
	background-position: center;
}
.bgh{
	background-image: url(../img/tunnel-infinity-dark-red.jpg);
	background-size: cover;
	background-position: center;

}
.easteregg{
	background-image: url(../img/250px-Cropped_nikol_pashinyan_Kölner_Rathaus_2019_by_Raymond.jpg);
}