*{
	margin:0;
	padding: 0;
}
body{
	background-size: cover;
	background-repeat: no-repeat;
}
.parent{
	width: 360px;
	height: 360px;
	border: 1px solid black;
	position: absolute;
	left: 50%;
	top: 50%;
	display: grid;
	grid-template-columns: auto auto auto; 
	justify-content: center;
	align-items: center;
	transform: translateX(-50%) translateY(-50%);
	font-size: 56px;
	display: none;
}
.sir{
	width: 120px;
	height: 120px;
	border: 1px solid black;
	font-size: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	cursor: pointer;
}
/*p{
	position:absolute;
	text-align: center;
	left: 0;
	right: 0;
}*/
.btn-outline-success{
	width: 240px;
	height: 80px;
	font-size: 36px !important;
	
}
.start{
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.hardness{
	width: 300px;
	height: 500px;
	display: grid;
	position:absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%)translateY(-50%);
	display:none;

}
.two{
	font-size: 32px !important;
}
.ress{
	position:absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%)translateY(-50%);
	display:none;
}
.xss, .xs{
	display: inline-block;
}
.oss, .os{
	display: inline-block;
}
.tan{
	position:absolute;
	right: 0;
	display: inline-block;
}
.home{
	width: 50px;
	height: 50px;
	font-size: 26px !important;
}
.forx{
	position:absolute;
	top: 50%;
	left: 25%;
	tranform:translateY(-50%);
}
.tan{
	position:absolute;
	top: 50%;
	right: 25%;
	tranform:translateY(-50%);
}
.immorey{
	position:absolute;
	top: 40%;
	right: 24%;
	display: none;

	tranform:translateY(-50%);
}
.immorex{
	position:absolute;
	top: 40%;
	right:72.5%;
	display: none;
	tranform:translateY(-50%);
}
.mej:hover{
	background: lightgray;
}
.ari{
	display: none;
}